.header{
    background-color:rgb(97, 88, 88);
    color:rgb(251, 223, 223);
    height: 115px;
    line-height: 115px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.common{
    text-align: center;
}

ul{
    list-style-position: inside;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol{
    list-style-position: inside;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainbody{
    color: rgb(51, 47, 47);
}

.footer{
    height: 25px;
    background-color:bisque;
    font-size: 20px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-weight: 100;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    padding: 0px;
    border: solid rgb(97, 88, 88);
    margin: 50px ;
}